<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- META SECTION -->
    <title>Søg Kunde</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <div th:replace="fragments/header :: header-css"/>
    <!-- END META SECTION -->
    <!--  BEGIN STYLE -->
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 1px;
        }
    </style>
    <!--  END STYLE -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <form action="#" th:action="@{/search}" th:object="${search}">
        <label for="search_input">Søg:</label> <input name="search"
                                                      id="search">
        </input>
        <div th:if="${not #lists.isEmpty(search)}">
            <h2>Søge resultat:</h2>
            <table>
                <thead>
                <tr>
                    <!--  <th>ID</th>-->
                    <th>Kunde nr</th>
                    <th>Kunde navn</th>
                    <th>Adresse</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="search : ${search}">
                    <!--<td th:text="${search.id}">Text ...</td>-->
                    <td th:text="${search.kundenr}">Text...</td>
                    <td th:text="${search.name}">Text ...</td>
                    <td th:text="${search.address}">Text ...</td>
                </tr>
                </tbody>
            </table>

            <form>
                <label for="tekniker">Vælg Tekniker</label>
                <select id="tekniker" name="tekniker" style="width:100px">
                    <option value="tekniker1">Torben</option>
                    <option value="tekniker2">Preben</option>
                    <option value="tekniker3">Lars</option>
                </select>
                <label for="subject">Beskriv kundens problem</label>
                <textarea id="subject" name="subject" placeholder="" style="height:100px"></textarea>
                <input type="submit" value="Send"/>
            </form>

        </div>
    </form>




</div>
</body>
</html>