<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- META SECTION -->
    <title>Search customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <div th:replace="fragments/header :: header-css"/>
    <!-- END META SECTION -->
    <!--  BEGIN STYLE -->
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 1px;
        }
    </style>
    <!--  END STYLE -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <form action="#" th:action="@{/search}" th:object="${search}">
        <label for="search_input">Søg:</label> <input name="search"
                                                      id="search">
        </input>
        <div th:if="${not #lists.isEmpty(search)}">
            <h2>Søge resultat:</h2>
            <table>
                <thead>
                <tr>
                    <!--  <th>ID</th>-->
                    <th>Kunde nr</th>
                    <th>Kunde navn</th>
                    <th>Adresse</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="search : ${search}">
                    <!--<td th:text="${search.id}">Text ...</td>-->
                    <td th:text="${search.kundenr}">Text...</td>
                    <td th:text="${search.name}">Text ...</td>
                    <td th:text="${search.address}">Text ...</td>

                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>